.header {
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    transition: all .35s ease;
    background: $black;


    @media(max-width: 991px) {
        padding: 10px 0;
    }

    &.sticky-header {
        padding: 10px 0;

        .logo {
            flex: 0 0 80px;
            max-width: 80px;
        }
        .dropdown{
            top: calc(100% + 23px);
        }

        .navigation {
            ul {
                li {
                    a {
                        @media(min-width: 992px) {
                            padding: 2px 0;
                        }
                        &::before{
                            bottom: -23px;
                        }
                        &::after{
                            bottom: -23px;
                        }
                    }

                    &:hover,
                    &.is--active {
                        >a {
        
                            &::after {
                                height: 47px;
                            }
                        }
                    }
                    
                }
            }
        }
    }
    .fflex{
        align-items: center;
    }
}

.logo {
    flex: 0 0 100px;
    max-width: 100px;
    transition: all .35s ease;

    @media(max-width: 991px) {
        flex: 0 0 100px;
        max-width: 100px;
    }
}
.header-btn{
a{
    margin-left: 20px;
}
@media(max-width: 991px) {
  flex-direction: column;
  display: flex;
  gap: 10px 0;
}
}
.dropdown{
    position: absolute;
    width: 245px;
    background: $white;
    box-shadow: 0 2px 16px rgba($black, 0.6);
    left: -45px;
    top: calc(100% + 30px);
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: .3s;

    li{
        position: relative;
        a{
            color: $black;
            @include fontCalcSize(14, 12);
            display: block;
            padding: 12px 8px !important;
            font-family: $secondaryFont;
            position: relative;
            z-index: 2;
            transition: .3s;

        }
        &::before{
            content: '';
            position: absolute;
            left: 0;
            width: 0;
            top: 0;
            bottom: 0;
            background: $iPrimary;
            height: 100%;
            transition: .3s;
        }
        &:hover{
          &::before{
            width: 100%;
          }
          a{
            color: $white;
          }
        }
    }

    @media (max-width: 991px) {
        padding: 8px 0;
        max-height: 180px;
        overflow: auto;
        li{
            padding: 5px 10px !important;
            a{
                font-size: 14px !important;
                padding: 0 !important;
            }
        }
    }
}
.navigation {
    margin-left: auto;
    display: flex;
    align-items: center;
    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        >li {
            padding: 0 0 0 18px;
            position: relative;
        

            >a {
                @include fontCalcSize(16, 16);
                color: $white;
                font-family: $secondaryFont;
                display: block;
                text-transform: uppercase;
                position: relative;
                padding: 6px 0;
                transition: all .35s ease;

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    bottom: -26px;
                    width: 0;
                    height: 2px;
                    background-color: $iPrimary;
                    transition: all .35s ease;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    bottom: -26px;
                    width: 60;
                    height: 0;
                    background: linear-gradient(180deg, rgba(176, 250, 73, 0.00) 0%, rgba(159, 233, 67, 0.50) 85.92%);
                    transition: all .35s ease;
                

                }
            }
            &:hover{
                .dropdown{
                   @media(min-width:992px){
                    opacity: 1;
                    visibility: visible;
                   }
                }
            }
            &:hover,
            &.is--active {
                >a {
                    color: $iPrimary;

                    &:before {
                        width: 100%;
                    }
                    &::after {
                        height: 35px;
                    }
                }
            }

            @media (max-width: 1199px) {
                padding: 0 5px;
            }
        }
    }

    @media (max-width: 991px) {
        display: none;
        position: fixed;
        top: 0;
        left: -100%;
        width: 280px;
        height: 100%;
        background-color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 11;
        transition: all .50s ease-in-out;
        box-shadow: 0 10px 5px 2px rgba(0, 0, 0, .2);

        .menu {
            flex-direction: column;

            >li {
                padding: 5px 0;
                text-align: center;

                >a {
                    &::before{
                        display: none;
                    }
                    &::after{
                        display: none;
                    }
                }

                &:hover{
                    .dropdown {
                        opacity: 1;
                        visibility: visible;
                        position: static;
                    }
                }
            }
        }
    }

    &.is--open {
        left: 0;
    }
}

.nav-hamburger {
    width: 28px;
    height: 21px;
    position: relative;
    cursor: pointer;
    display: none;
    margin-left: auto;

    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 50%;
        background: $iPrimary;
        opacity: 1;
        transform: rotate(0deg);
        transition: all .25s ease-in-out;

        &:nth-child(even) {
            left: 50%;
            border-radius: 0 9px 9px 0;
        }

        &:nth-child(odd) {
            left: 0px;
            border-radius: 9px 0 0 9px;
        }

        &:nth-child(1),
        &:nth-child(2) {
            top: 0px;
        }

        &:nth-child(3),
        &:nth-child(4) {
            top: 50%;
            margin-top: -2px;
        }

        &:nth-child(5),
        &:nth-child(6) {
            bottom: 0px;
        }
    }

    &.is--active {
        span {

            &:nth-child(1),
            &:nth-child(6) {
                transform: rotate(45deg);
            }

            &:nth-child(2),
            &:nth-child(5) {
                transform: rotate(-45deg);
            }

            &:nth-child(1) {
                top: 6px;
                left: 4px;
            }

            &:nth-child(2) {
                left: calc(50% - 4px);
                top: 6px;
            }

            &:nth-child(3) {
                left: -50%;
                opacity: 0;
            }

            &:nth-child(4) {
                left: 100%;
                opacity: 0;
            }

            &:nth-child(5) {
                left: 4px;
                top: 12px;
            }

            &:nth-child(6) {
                left: calc(50% - 4px);
                top: 12px;
            }
        }
    }

    @media (max-width: 991px) {
        display: block;
    }
}