.header {
    padding: 0px 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background: linear-gradient(45deg, #f8e5ff, #dfdcff);
    transition: all .35s ease;
    border: 1px solid #7070704D;
    border-radius: 10px;
    width: 99%;
    margin: 10px auto 0;

    &.sticky-header {
        margin: 0;
        width: 100%;
        border-radius: 0;

        .logo {
            flex: 0 0 15px;
            max-width: 150px;
        }

    }
    .fflex{
        align-items: center;
        justify-content: space-between;
    }
    @media(max-width:991px){
        padding: 17px 25px;
        background: rgba($color: #1F1F1F, $alpha: 0.8);
        margin: 22px auto 0;
    }

    @media(max-width:360px){
        width: 98%;
        margin: 5px 0 0;
        padding: 15px 12px;
    }
}
.btn-area{
    @media(max-width:991px){
        display: none;
        &.sty1{
            display: block !important;
        }
    }
}
.logo-area{
    display: flex;
    align-items: center;
    .social-ic{
        padding-left: 30px;
        width: 40%;
    }
}
.logo {
    flex: 0 0 190px;
    max-width: 190px;
    transition: all .35s ease;
   
 

    @media(max-width: 991px) {
        flex: 0 0 120px;
        max-width: 120px;
    }
}

.navigation {
    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        li {
            padding: 0 0 0 50px;

            a {
                @include fontCalcSize(20, 12);
                color: $black;
                font-weight: 600;
                text-transform: uppercase;
                display: block;
                position: relative;
                padding: 6px 0;
                transition: all .35s ease;

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    background-color: $iPrimary;
                    transition: all .35s ease;
                }

                &.is--active {
                    color: $iPrimary;

                    &:before {
                        width: 36px;
                    }
                }
            }

            &:hover,
            &.is--active {
                a {
                    color: $iPrimary;

                    &:before {
                        width: 36px;
                    }
                }
            }
        }
    }
    &.desktop{
        display: block;
    }
    &.mobile{
        display: none;
    }
    @media (max-width: 991px) {
        display: none;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $black;
        background-image: url('/project-php/assets/img/bg/mb-bg-main.png');
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        z-index: 11;
        transition: all .50s ease-in-out;
        box-shadow: 0 10px 5px 2px rgba(0, 0, 0, .9);
        background-size: cover;

        &.desktop{
            display: none;
        }

        &.mobile{
            display: block;
            padding: 40px 30px;
            .logo-area {
                width: 100%;
                justify-content: space-between;
                display: inline-flex;
                border-radius: 8px;
                background: rgba(31, 31, 31, 0.8);
                padding: 12px 10px;

                .nav-hamburger{
                    right: 10px;

                    &.is--active{
                        &:before{
                            background: transparent;
                            border: 1px solid #fff;
                        }
                    }
                }
            }
        }

        ul {
            flex-direction: column;
            width: 100%;
            height: 500px;
            overflow: scroll;

            li {
                padding: 20px 0;
                width: 100%;
                text-align: center;

                .form-control {
                    height: 60px;
                    background-color: transparent;
                    border: none;
                    font-size: 20px;
                    border-bottom: 1px solid #fff;
                    font-weight: 100;
                    color: #fff;
                }
                i{
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 17px;
                    color: #fff;
                }

                a {
                    font-size: 18px;
                }
                &.button-sty {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    text-align: center;
                    background-color: #161616;
                    .social-ic {
                        position: absolute;
                        top: -50px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            @media (max-width: 991px) {
                padding: 5px 0 10px;
            }
        }
    }
    &.is--open {
        left: 0;
    }
}


.nav-hamburger {
    width: 28px;
    height: 21px;
    position: relative;
    cursor: pointer;
    display: none;
    margin-left: auto;
   &::before{
    content: "";
    background-color: white;
    border-radius: 50%;
    position: absolute;
    inset: 0;
    left: 50%;
    margin: auto;
    width: 45px;
    height: 45px;
    transform: translateX(-50%);
    @media(max-width:360px){
        width: 40px;
        height: 40px;
    }
   }

    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 50%;
        background: #A5A5A5;
        opacity: 1;
        transform: rotate(0deg);
        transition: all .25s ease-in-out;

        &:nth-child(even) {
            left: 50%;
            border-radius: 0 9px 9px 0;
        }

        &:nth-child(odd) {
            left: 0px;
            border-radius: 9px 0 0 9px;
        }

        &:nth-child(1),
        &:nth-child(2) {
            top: 0px;
        }

        &:nth-child(3),
        &:nth-child(4) {
            top: 50%;
            margin-top: -2px;
        }

        &:nth-child(5),
        &:nth-child(6) {
            bottom: 0px;
        }
    }

    &.is--active {
        span {

            &:nth-child(1),
            &:nth-child(6) {
                transform: rotate(45deg);
            }

            &:nth-child(2),
            &:nth-child(5) {
                transform: rotate(-45deg);
            }

            &:nth-child(1) {
                top: 6px;
                left: 4px;
            }

            &:nth-child(2) {
                left: calc(50% - 4px);
                top: 6px;
            }

            &:nth-child(3) {
                left: -50%;
                opacity: 0;
            }

            &:nth-child(4) {
                left: 100%;
                opacity: 0;
            }

            &:nth-child(5) {
                left: 4px;
                top: 12px;
            }

            &:nth-child(6) {
                left: calc(50% - 4px);
                top: 12px;
            }
        }
    }

    @media (max-width: 991px) {
        display: block;
    }
}