// fonts family
$primaryFont: 'Antonio', sans-serif;
$secondaryFont: 'Inter', sans-serif;

// colors
$white: #ffffff;
$black: #000000;
$black2: #1D1D1D;
$iPrimary: #71BF45;
$iSecondary: #B0FA49;
$iBlack: #121212;
$iGray: #eeeeee;
$iGray1: #8F8F8F;
$iGray2: #fff9e9;
$iGray3: #fff9e9;
$iGray4: #F1F0F0;
$iGray5: #BFBFBF;

$Green: #7AC435;

$Pri-gred: linear-gradient(179deg, #B0FA49 -10.77%, #489123 83.62%);
$Pri-gred2: linear-gradient(166deg, #B0FA49 -4.96%, #489123 48.08%);
$Pri-gred3: linear-gradient(90deg, #B0FA49 -16.97%, #489123 88.9%);
$Pri-gred4: linear-gradient(90deg, #B0FA49 0.05%, #489123 99.95%);

$iBlue: #1C2536;
$iGreen: #154933;
$iBlue2: #221242;